<?extend 'ng-layout.html'?>
<!--<div ng-controller='newController'>
<p>{{message}}, World</p>
<p>{{urls}},yep :)</p>
<table class="table">
    <ul ng-repeat="tag in tags">
        <li>{{tag.Tag}}</li>
    </ul>
</table> 
    <p>{{angular.fromJson(urls)}}</p>
</div>-->
<!--Bootstrap Modal Popup-->
<div class="container">  
<div id="example" class="modal hide fade in" style="display: none; ">  
<div class="modal-header">  
<a class="close" data-dismiss="modal">×</a>  
<h5>New Tag</h5>  
</div>  
<div class="modal-body">    
<?=tag_form.custom.begin?>
    <table>
<tr><th><strong>Tag Name:</strong></th><th><? =tag_form.custom.widget.Tag?></th></tr>
<tr><th><strong>Color</strong></th><th><? =tag_form.custom.widget.Color?></th></tr>
<!--<tr><th><strong>Owner:</strong></th><th><? =tag_form.custom.widget.Owner ?></th></tr>-->
    </table>  
</div>  
<div class="modal-footer">  
<?=tag_form.custom.submit?>
<?=tag_form.custom.end?>   
</div>  
</div>
<p><a data-toggle="modal" href="#example" class="btn btn-primary btn-small">New Tag</a></p>  
</div>
<script src="<?=URL('static','js/bootstrap-modal.js')?>"></script>
<script type="text/javascript" src="<?=URL('static','jscolor/jscolor.js')?>"></script>
<!--End of Bootstrap Modal Popup-->
<!--<div ng-controller='newController' id="tagDiv">
<button  ng-click="getSelectedTags()">JS Button2</button>
     
</div>--> 
<div id="tags" ng-controller="newController">
<style>
.tags {
    margin: 10px 0;
}
.tags .tag {
    border-radius: 6px;
    background-color: #EFEFEF;
    border: 1px solid #DDD;
    padding: 5px;
    margin-right: 10px;
}
.tags .tag:hover {
    color: red;
    text-decoration: none;
}

input { 
    margin-bottom: 0px !important;
}
</style>
<tag-manager tags="tags"></tag-manager>
    <h3>Selected Tags</h3>    
    <ul ng-repeat="tag in tags">
        {{tag|selected}}
    </ul> 
    <h3>Sotred Tags</h3>
    <ul>
    <li ng-repeat="t in selectedTags">{{t}}</li>    
    </ul>
    <button ng-click="submitTag_urls(selectedTags)">test</button>
</div>
<br />
<br />
<br/>
<?=url_form.custom.begin?>
<strong>Add URL</strong>&nbsp;&nbsp;Set to Private<? =url_form.custom.widget.Private ?><br/>
<br/><strong>URL:</strong><? =url_form.custom.widget.URL ?><br/>
<strong>Title:</strong><? =url_form.custom.widget.Title ?><br/>
<strong>Note:</strong><? =url_form.custom.widget.Note ?><br/>
<button id="urlSubmitBtn" ><?=url_form.custom.submit?></button>
<?=url_form.custom.end?>

<div>
    <?=urlTag_form.custom.begin?>   
    <br/>URL:<?=urlTag_form.custom.widget.URL?>
    <br/>Tag:<?=urlTag_form.custom.widget.Tag?>
    <button id="url_tag_btn"><?=urlTag_form.custom.submit?></button>
    <?=urlTag_form.custom.end?>
</div>

<button onclick="clickSubmitBtn()">JS Button</button>


<script type="text/javascript">
function clickSubmitBtn(){  
    //document.getElementById('urlSubmitBtn').click()
    //document.write("<?=url_form.custom.submit?>") style="visibility:hidden;"
    document.getElementById('url_tag_URL').value="www.google.com";
    document.getElementById('url_tag_Tag').value="CS";
    document.getElementById('url_tag_btn').click();
    //return true;
    
    }    
</script>