<?extend 'ng-layout.html'?>

<!--Bootstrap Modal Popup-->
<div class="container">  
<div id="example" class="modal hide fade in" style="display: none; ">  
<div class="modal-header">  
<a class="close" data-dismiss="modal">×</a>  
<h5>New Tag</h5>  
</div>  
<div class="modal-body">    
<?=tag_form.custom.begin?>
<table>
<tr><th><strong>Tag Name:</strong></th><th><? =tag_form.custom.widget.Tag?></th></tr>
<tr><th><strong>Color</strong></th><th><? =tag_form.custom.widget.Color?></th></tr>
</table>  
</div>  
<div class="modal-footer">  
<?=tag_form.custom.submit?>
<?=tag_form.custom.end?>   
</div>  
</div>
<a data-toggle="modal" href="#example" class="btn btn-primary btn-small">New Tag</a>
</div>
<script src="<?=URL('static','js/bootstrap-modal.js')?>"></script>
<script type="text/javascript" src="<?=URL('static','jscolor/jscolor.js')?>"></script>
<!--End of Bootstrap Modal Popup-->
<script type="text/javascript">

function submitUrlTagForm(t,u){
    document.getElementById('url_tag_URL').value=u;
    document.getElementById('url_tag_Tag').value=t;
    document.getElementById('url_tag_btn').click();
}    
</script>
<div id="tags" ng-controller="newController">

<tag-manager tags="tags"></tag-manager>
    <h3>Selected Tags</h3>    
    <ul ng-repeat="tag in tags">
        {{tag|selected}}
    </ul> 
    <h3>Sotred Tags</h3>
    <ul>
    <li ng-repeat="t in selectedTags">{{t}}</li>    
    </ul>
    <button ng-click="clickSubmitBtn()">JS Button</button>
</div>
<br />
<br />
<br/>
<?=url_form.custom.begin?>
<strong>Add URL</strong>&nbsp;&nbsp;Set to Private<? =url_form.custom.widget.Private ?><br/>
<br/><strong>URL:</strong><? =url_form.custom.widget.URL ?><br/>
<strong>Title:</strong><? =url_form.custom.widget.Title ?><br/>
<strong>Note:</strong><? =url_form.custom.widget.Note ?><br/>
<div ><? =url_form.custom.widget.Tags ?></div>
<button id="urlSubmitBtn" ><?=url_form.custom.submit?></button>
<?=url_form.custom.end?>

<div style="Visibility:hidden">
    <?=urlTag_form.custom.begin?>   
    <br/>URL:<?=urlTag_form.custom.widget.URL?>
    <br/>Tag:<?=urlTag_form.custom.widget.Tag?>
    <button id="url_tag_btn"><?=urlTag_form.custom.submit?></button>
    <?=urlTag_form.custom.end?>
</div>