<?extend 'ng-layout.html'?>
<script src="<?=URL('static','ng-controllers/view-controller.js')?>"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<!--script src="http://d3js.org/d3.v2.min.js?2.10.0" charset="utf-8"></script>-->
<style>
svg{
max-width:1000px;
}
</style>
<div id="tags" ng-controller="viewController " style="
margin-top: 70px;">
    <strong style="front-size:120%;">Search:</strong><input type="text" ng-model="urlFilter" />
    <tag-manager  tags="tags"></tag-manager>
    <forcedirected-graph tags="tags" ></forcedirected-graph>
    <!--<span ng-repeat="url in urls | filter:urlFilter|selectedTagList:filterTags"><url-card url="url"></url-card></span> -->  
    <url-card  ng-repeat="url in urls | filter:urlFilter|selectedTagList:filterTags" url="url"></url-card>
</div>    


